{% extends "template.html" %} {% block title %} Edit Movie {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="p-5 bg-light">
        <h1 class="display-3">Edit movie</h1>
        <p class="lead">Edit a information of the movie</p>

        <hr class="my-2"> {% include 'movies/form.html' %}

        <p class="lead text-right mr-5 pr-5">
            <a class="btn btn-warning btn-lg" href="{% url 'movies' %}" role="button">Return to movies</a>
        </p>
    </div>

</div>

{% endblock %}