{% extends "template.html" %} {% block title %} All Movies {% endblock %} {% block content %}

<div class="card">
    <div class="card-header bg-light text-right">
        <a name="" id="" class="btn btn-warning" href="{% url 'add' %}" role="button">Add movie</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">All Movies</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cover</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Image.png</td>
                    <td>Django con Python</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quam ullam nobis dolor cumque, consequuntur, vitae provident doloremque suscipit soluta nostrum dignissimos, alias architecto ea! Fugit maiores corporis assumenda ab.
                        Eos, necessitatibus, officiis harum culpa esse quos eaque sunt exercitationem ex tenetur distinctio corporis facere. Maiores fugiat, beatae pariatur, magnam velit nemo, unde quaerat sed illum ex odio autem nostrum! Iusto fugiat
                        necessitatibus, architecto ab incidunt hic veritatis possimus facere eos pariatur dolores unde ullam facilis et ex, numquam excepturi dolorem amet doloremque quidem quisquam temporibus nemo ut! Dolorum, corrupti. Doloribus libero
                        repellat assumenda necessitatibus officia suscipit rem excepturi consequatur accusantium, ex eligendi ad dolore quibusdam, cupiditate mollitia optio? Deserunt perspiciatis harum consequatur suscipit eaque facilis dolorum in quasi
                        error? Necessitatibus, ullam! Eligendi atque sed pariatur assumenda vel libero commodi itaque? Inventore voluptas delectus dolores a aperiam deleniti veniam. Culpa, recusandae laboriosam esse earum amet soluta dicta debitis et
                        accusamus?
                    </td>
                    <td>Edit | Delete</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="card-footer text-muted"></div>
</div>

{% endblock %}